@charset "UTF-8";
.movies-searchContainer{
    display: flex;
    justify-content: center;
   
}
.movies-searchInnerContainer-padding{
	width : 80%;
    padding-bottom : 70%;
    box-sizing: border-box;
    position: relative;
}
.movies-searchInnerContainer{
	position : absolute;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, minmax(16%, 20%));
    column-gap: 1%;
    row-gap : 2%;
}
.side{width : 10%;}
.movie-searchContainer{
    border : double 4px darkred;
    box-sizing: border-box;
    display : grid;   
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2.5fr 1fr 1fr 1fr;
	column-gap: 3%;
}
.movie-searchContainer:hover{
    border : double 4px aqua;

}

.movie-pictureContainer{
	grid-row: 1 / span 4;
	width: 100%;
    height: 100%;
}
.movie-picture{
	width: 100%;
    height: 100%;
	box-sizing: border-box;
}

.movie-title{
	
	font-family: 'NanumSquareRoundBold';
	font-weight: 700;
	color : white;
	font-size: 1.2em;
	word-wrap: break-word;
  display : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height : 3.2rem;
}
.prevent-flow {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  /*white-space: nowrap; */
  text-overflow: ellipsis;
}
.movie-year, .movie-genre, .movie-vote{
	font-family: 'NanumSquareRound';
	color : white;
	font-size: 1em;
	white-space: nowrap;
}