@charset "UTF-8";
#detail-bigPicture { /*detail 맨위 배경화면 */

	position: relative;
	width: 100%;
	height: 50%;
	z-index : -1;
	

}

#detail-movieContainer { /*영화정보 위치 지정*/
	width: 100%;
	display: flex;
	margin-top : -100px;
	margin-bottom : 100px;
	justify-content: space-evenly;
}

#onleft {
	flex : 0 0 250px;
	margin-left : 30px;
}

#detail-nonPoster{		
	display: flex;
	min-width : 300px;
	width : 1000px;
	flex-wrap: wrap;
	align-content : flex-start;
	padding-left : 20px;
	}

#detail-poster img { /*이미지 전부 채우게 함*/
	border: ridge #eee 8px;
	padding: 2px;
	width: 100%;
	object-fit: cover;
	max-width: 100%;
	opacity: 1;
	box-sizing: border-box;
	
}

#detail-title {width : 100%;} /*제목 위치 지정*/
#detail-overview {width: 100%;}
#release_date{padding-left : 20px; }

.detail-genre {			 /*장르 박스*/
	border-radius:8px;
	display:inline-block;
	font-family: 'NanumSquareRound';
	font-size:0.9rem;
	padding:6px 13px;
	margin : 5px;
}

.movie img { /*이미지 전부 채우게 함*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}

h1,h3,h5,h6 {
	font-family: 'NanumSquareRoundBold';				/*글꼴*/
	color: #fff;
	}
	
	
	
h1{font-size : 2.4rem;
white-space : pre-line;}
h3{font-size : 1.6rem;}
h5{font-size : 1rem;}
#overview {
	font-family: 'NanumSquareRound';
	color: #fff;
	padding : 10px 20px 0px 30px;
	line-height : 130%;
	}
	
	
	

#detail-vote {				/*점수판*/
	display: flex;
	align-items: center;
	width: 180px;
 	height : 70px;
  padding: 10px;
  outline: none;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  font: bold "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
  inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
  
  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
  hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
  border-radius: 8px;
  background-color: hsl(0,0%,90%);
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%) 100%);
}
#scoreGeek{
	width: 60%;
}

#scoreGeek .siteName{
	font-size: 1em;
	font-weight: 600;
}

#scoreGeek .Score{
	font-size: 2.3em;
	font-weight: 600;
}
#scoreImdb{
	width: 40%;
}
#scoreImdb .siteName{
	font-size: 0.8em;
	font-weight: 600;
}

#scoreImdb .Score{
	font-size: 1.7em;
}
