
@charset "UTF-8";

.movies-container {
	width: 100%;
	height: 320px;
	margin: 0 auto;
	position: relative;
}

.movies-innerContainer {
	display: flex;
	height: 100%;
	align-items: center;
	position: absolute;
}

.movie {
	position: relative;
	padding-top: 135%;
	height : 0;
	margin-right: 15px;
	overflow: hidden;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	background-color: #000000;
}

.movie img { /*이미지 전부 채우게 함*/
	position: absolute;
	width: auto; height: 100%;

	top: 0; left: 0; right: 0; bottom: 0;


}



