@charset "UTF-8";

/* style.css */
* { padding: 0; margin: 0; }
a { text-decoration: none; color: #000; }
/* body를 가운데 정렬하기 위해 html에 flex를 주었습니다. */

body {
	overflow-x: hidden;
	background-color: #000000;
	margin : 0;
	padding-top : 100px;
	display: flex;
}


#content-container{
	flex-grow : 8;
	margin : 2.5rem;
}

#content-grid{
	display : grid;
	grid-template-columns : 1fr 1fr;
	grid-template-rows:auto; 
	grid-column-gap: 2%;
    grid-row-gap: 2rem;
}
.user-container{
	border : solid 1px;
	border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
	border-image-slice: 1;
	display : flex;
	flex-direction : column;
}

.user-container-title{
	
	margin: 2.5rem 4rem;
	display : flex;
	justify-content: space-between;
	flex-grow : 0;
}

.user-container-contents{
	border-top : solid 1px white;
	display : grid;
	flex-grow : 1;
	grid-template-rows : repeat(10, 1fr);
}

.user-container-contents{
	border-top : solid 1px white;
	border-bottom : solid 1px white;
}
#user-movieLike-container, #user-movieAdd-container{
	grid-column: 1 / span 2;
}
.user-container-content{
	cursor : pointer;
	display: flex;
	align-items: center;
}
.user-container-content:hover{
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(13,40,38,1) 50%, rgba(0,0,0,1) 100%);
}


.user-container-content div{
	display : inline-block;
}

h4.seeMoreLink{
	color : #f8efc5;
	display : inline-block;
	 white-space : nowrap;
	 margin-left : 1rem;
    cursor:pointer;
}

#info-container{
	padding-top : 2.5rem;
	flex : 1 0 220px;
	display : flex;
	flex-direction: column;
    align-items: center;
	min-width : 150px;
	height : 100%;
}
#info-title{
	margin : 30px 20px 50px 20px;
}

.wrap { width: 90%;
	 padding: 40px 0px;
	 margin: 0 auto;
    background-color: #fff; border-radius: 5px;
    
     }
.wrap > div { 
	width: calc(100% - 60px);
	margin : auto;
}
/* submit을 제외한 나머지 input 태그에 적용 */
.hr { margin-top: 20px; margin-bottom : 20px;}
#regist_wrap .info-name{
	width : 40%;
}
#regist_wrap .info-content{
	width : 45%;
}    
.info-name h5, .info-content h5{
color : black;
}

#must_id, #must_password, #must_name, #must_birthday, #must_gender{color: #e3160b;}

.text_front{
	    font-weight: 400;
}

#regist_form table{
	margin: 0 auto;
}
.user-content-title{
	margin-left : 2%;
	width : 27%;
}
.user-content-recommend{
	width : 6%;
}
.user-content-score{
	width : 20%;
}
.user-content-movie{
	width : 28%;
}
.user-content-movie h5:hover{
	 color : #999;
}
.user-content-gendate{
	width : 17%;
}
.user-content-title h5, .user-content-movie h5, .user-content-gendate h5, .user-content-recommend h5{
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
	font-weight: 400;
	margin: 5px 0;
}

.user-movies-container{
	display : grid;
	grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1px;
	padding: 0 10px;
}
.user-movie-container{
	width : 100%;
	padding-bottom : 140%;
	margin-bottom: 10px;
	position : relative;
}


.user-movie-image{
	
    position: absolute;
    width: 100%;
    height: 100%;
    cursor : pointer;
    transition : all 0.2s ease-in;
    overflow : hidden;
}
.user-movie-image:hover{
	transform : scale(1.2);	
	z-index : 2;
}
.user-movie-hover{
	position: absolute;
    width: 100%;
    height: 120%;
    transform : translateX(-100%);
    transition : transform 0.4s ease-in;
    background: rgba(0,0,0,0.7);
    transition-delay: 0.3s;
}
.user-movie-image:hover .user-movie-hover{
	transform : translateX(0);
}

.user-movie-title, .user-movie-genre{
	position: absolute;
	width: 80%;
	opacity : 0;

}
.user-movie-title{	
	left: 10%;
    top: 10%;
    transform: translateY(12px);
    transition : all 0.4s ease-in;
	transition-delay: 0.7s;
}

.user-movie-title h5{
	font-family: 'Hahmlet', serif;
    font-weight: 600;
}

.user-movie-title h6{
	margin-top: 10px;
}

.user-movie-image:hover .user-movie-title{
	transform : translateY(0);
	opacity : 1;
}

.user-movie-score{
	right : 11%;
	bottom : 10%;
	position: absolute;
	opacity : 0;
	transition : all 0.3s ease-in;
	transition-delay: 1.1s;
}
.user-movie-image:hover .user-movie-score{
	opacity : 1;

}
.user-movie-score h6{
	display : inline-block;
}


.moreMovie{
 color : #f8efc5e0;
 background: radial-gradient( at 50% -200%, #353535, black );
 cursor: pointer;
 width : 100%;
 height: 30px;
 text-align : center;
 box-sizing: content-box;
} 

.moreMovie:hover{
 color : #f8efc570;
  background: radial-gradient( at 50% -200%, #555555, black );
} 







.wrap .form input:not(input[type='submit'], input[type='checkbox']) {
    border: 1px solid #d9d9d9; width: 400px; height: 50px;
    margin: 5px; padding-left: 10px; border-radius: 5px;
    box-sizing: border-box; font-size: 18px; }
    
.signup_btn1, .signup_btn2{ width: 80%; height: 3.3rem;
border-radius: 5px; border: 0;
display: block;
    margin: 10px auto;
    background: linear-gradient(to left, #f857a6, #ff5858);
    color: #fff; font-weight: bold; font-size: 1.1rem;
    cursor: pointer; }

#login_wrap .forgetpw a, #login_wrap .regist_btn a, #pre_btn .a { color: red; }

/* 04-25 수정 구문*/
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}
.id_already{color:#6A82FB; display: none;}




