<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="boardVo">

	<select id="board_list" parameterType="boardVo" resultType="boardVo">
		<![CDATA[
			select seq, title, writer, regdate, cnt, likes
			from review_board 
			where 1 = 1 
		]]>
		<if test="searchType == 'TC' and bKeyword != null">
			AND title LIKE CONCAT ('%',#{bKeyword},'%')
			OR contents LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
		<if test="searchType == 'Wr' and bKeyword != null">
			AND writer LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
		<if test="searchType == 'M_id' and bKeyword != null">
			AND movie_id LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
			ORDER BY seq DESC
			Limit #{startList}, #{listSize}
	</select>
	
	<select id="boardListCnt" resultType="int">
		<![CDATA[
			select count(*) 
			from review_board
			where 1 = 1
		]]>
		<if test="searchType == 'TC' and bKeyword != null">
			AND title LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
		<if test="searchType == 'Wr' and bKeyword != null">
			AND writer LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
		<if test="searchType == 'M_id' and bKeyword != null">
			AND movie_id LIKE CONCAT ('%',#{bKeyword},'%')
		</if>
		
	</select>

	<insert id="board_insert" parameterType="boardVo">
		<![CDATA[
			 insert into review_board (title, writer, contents)
			 values (#{title}, #{writer}, #{contents})			 
		]]>
	</insert>
	
	<select id="board_detail" parameterType="boardVo" resultType="boardVo">
		<![CDATA[
			select seq, title, writer, contents, regdate
			from review_board  
			where seq = #{seq}
		]]>
	</select>
	
	<update id="board_update" parameterType="boardVo">  
	    <![CDATA[  
	        update review_board set  
	        title = #{title}, contents = #{contents}  
	        where  
	        seq = #{seq}  
		    ]]>  
	</update>
	
	<delete id="board_delete" parameterType="boardVo">
		<![CDATA[
			delete from review_board
			where seq = #{seq}
		]]>
	</delete>

</mapper>