<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="FreeReplyLikeVo">
	
	
	<select id="Check" parameterType="HashMap" resultType="int">
		<![CDATA[
				select count(userId) from freereplylike where userId=#{userId} and freereplyId=#{freereplyId} and mode=#{mode};
			]]>
			
	</select>
	
	<insert id="Add" parameterType="HashMap">
		insert into freereplylike(userId, freereplyId, mode)
		values(#{userId}, #{freereplyId}, #{mode})
		ON duplicate key update
		`mode` = if(values(mode) = mode, 0, #{mode});
	</insert>
	
	
	<select id="CountfreeLike" parameterType="HashMap" resultType="int">
		select count(userId) from freereplylike where freereplyId=#{freereplyId} and mode=1;
	</select>

	<select id="CountUserLike" parameterType="HashMap" resultType="int">
		select count(freeId) from freereplylike where userId=#{userId} and mode=1;
	</select>
	
	<delete id="deletefree" parameterType="int">
		delete from freereplylike where freereplyId=#{freereplyId};
	</delete>
	
	
	
	
</mapper>