<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="oneLineReviewVo">
	<select id="Select" parameterType="HashMap" resultType="oneLineReviewVo">
		<![CDATA[
			select oneLineReviewId, userId, movieId, score, comment, likes, gendate
			from onelinereview
			where 1=1
					]]>
			<if test='searchMode =="movie" and query != ""' >
			and movieId = #{query}
			</if>	
			<if test='searchMode =="keyword" and query != ""' >
			and comment like concat('%', #{query},'%')
			</if>	
			<if test='searchMode =="author" and query != ""' >
			and userId like concat('%', #{query},'%')
			</if>		
			<![CDATA[
			order by oneLineReviewId DESC
			Limit #{nowPageStart}, #{Size};
			]]>
			
	</select>
	
	<select id="Count" parameterType="HashMap" resultType="int">
		<![CDATA[
			select count(oneLineReviewId) from onelinereview
			where 1=1
		]]>
			<if test='searchMode =="movie" and query != ""' >
			and movieId = #{query};
			</if>	
			<if test='searchMode =="keyword" and query != ""' >
			and comment like concat('%', #{query},'%');
			</if>	
			<if test='searchMode =="author" and query != ""' >
			and userId like concat('%', #{query},'%');
			</if>	
	</select>




</mapper>