<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="oneLineReviewVo">
	<select id="SelectAll" resultType="oneLineReviewVo">
		<![CDATA[
			select oneLineReviewId, userId, movieId, score, comment, likes, gendate
			from onelinereview
		]]>
	</select>




</mapper>