<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.geekmovie.board.vo.BoardVo" alias="boardVo"/>
		<typeAlias type="com.geekmovie.board.vo.FreeVo" alias="freeVo"/>
		<typeAlias type="com.geekmovie.board.vo.PageVo" alias="pagination"/>
	    <typeAlias type="com.geekmovie.user.vo.userVO" alias="userVO"/>
		<typeAlias type="com.geekmovie.onelinereview.vo.OneLineReviewVo" alias="oneLineReviewVo"/>
		<typeAlias type="com.geekmovie.onelinereview.vo.OneLineReviewLikeVo" alias="oneLineReviewLikeVo"/>
		<typeAlias type="com.geekmovie.movie.vo.MovieLikeVo" alias="MovieLikeVo"/>
	</typeAliases>
	<mappers>
        <mapper resource="/sqlmap/mapper/BoardVO-mapper.xml"/>
        <mapper resource="/sqlmap/mapper/Free-mapper.xml"/>
        <mapper resource="/sqlmap/mapper/userVO-mapper.xml"/>
        <mapper resource="/sqlmap/mapper/oneLineReviewVo-mapper.xml"/>
        <mapper resource="/sqlmap/mapper/oneLineReviewLikeVo-mapper.xml"/>
        <mapper resource="/sqlmap/mapper/movieLikeVo-mapper.xml"/>
    </mappers>
</configuration>